/* 初始化 start */
body {
    letter-spacing: 1px;
    color: #34495e;
}
.page-body {
    width: 900px;
    margin: 120px auto;
}

h2, h3, h1 {
    color: #1f2f3d;
    font-weight: 400;
}
p {

    text-indent: 40px;
}

.head-img {
    transition: .5s all;
}
.page-body:hover .head-img {
    transform: rotate3d(0,1,0,180deg);
}
