/* 初始化 start */
body {
    color: #606266;
    margin: 0;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

html, body { scroll-behavior:smooth; }

/* 初始化 end */

/* 组件 start */
.btn {
    padding: 10px;
    min-width: 80px;
    border-radius: 8px;
    border: none;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 5px #00000014;
    margin: 0 4px;
    transition: all .5s;
    cursor: pointer;
}

.btn:focus {
    border-color: #03A9F4;
    color: #03A9F4;
    animation: myfirst .1s;
    animation-iteration-count: 5;
}

.btn-primary {
    color: #03A9F4;
    border: 1px solid #03A9F4;
}

.btn-primary:focus {
    background: #03A9F4;
    border-color: #03A9F4;
    color: #fff;
}

.btn-success {
    color: #5daf34;
    border: 1px solid #5daf34;
}

.btn-success:focus {
    background: #5daf34;
    border-color: #5daf34;
    color: #fff;
}

.ok-text {
    display: block;
    padding: 11px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    transition: all .5s;
    font-weight: 500;
    width: 250px;
    font-size: 1.1em;
    color: #606266;
    /* 待更改 */
    margin-bottom: 8px !important;
}

.ok-text[ok-status=error] {
    /* border-color:#ff0000; */
}

.ok-text[ok-status=error]:focus {
    border-color: #e74c3c;
    box-shadow: 3px 4px 8px -4px #e74c3c;
}

/* .ok-text:hover{
  border-color: rgb(162, 162, 162)
} */
.ok-text:focus {
    border-color: #03A9F4;
    box-shadow: 3px 4px 8px -4px #03A9F4;

}

.ok-img {
    border-radius: 100px;
}

.ok-img[shadow=true] {
    box-shadow: 0px 4px 8px -2px black;
}


.ok-switch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 24px;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #fafafa;
}

.ok-switch {
    position: relative;
    width: 60px;
    height: 24px;
    display: inline-block;
    border: 1px #ddd solid;
    border-radius: 12px;
}

.ok-switch label {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.17, 0.75, 0.64, 1);
    top: 2px;
    left: 2px;
    background: #6d6d6d;
    box-shadow: 1px 1px 2px 0 #787878
}

.ok-switch input[type=checkbox]:checked + label {
    left: 37px;
    background: #fff;
}

.ok-switch input[type=checkbox]:checked {
    background: #5daf34;
}

.ok-switch-outside {
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

.ok-switch-outside h4 {
    margin: 0;
    float: left;
}

/* 组件 end */


button:focus, input {
    outline: none; /*去除蓝色边框*/
}

/* 动画 start */

@keyframes myfirst {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* 动画 end */

/*卡片*/
.card {
    width: 500px;
    height: 100px;
    margin: 15px;
    background: #fff;
    margin: 0 auto;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 4px #0000004a;
    padding: 8px;
}

/* debug */

h1 {
    color: #03A9F4;
    padding: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 500;
    color: #fff;
    margin-top: 18px;
    font-size: 1.6em;
    transition: all 1s;
}

hr {
    border-top: .5px solid #ddd;
}

h2:hover {
    color: #1f2f3f;
}

.center {
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 80px;
    background: #fff;
    border-bottom: .5px solid #dcdfe6;
    padding: 10px;
    left: 10%;
}
.main {
    margin-top: 100px;
}

.box-left {
    width: 10.33%;
    /*border-right: .5px solid #dcdfe6;*/
    position: fixed;
    left: 10%;
    top: 100px;
}
.box-right {
    text-align: center;
}

ul li {
    list-style: none;
}

.box-left a {
    text-decoration: none;
    color: #ddd;
    padding-left: 15px;
}
.box-left a:visited {
    color: #666;
}

.box-left a:hover {
    color: #03A9F4;
}

.box-left h3 {
    color: #000;
    margin: 0;
}


